<div>Warehouse list</div>

<% if @warehouses.empty? %>
  <p>Список складов пуст</p>
<% else %>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Title</th>
      <th scope="col">Address</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @warehouses.each do |wh| %>

      <tr>
        <th scope="row"><%= wh.number %></th>
        <td><%= wh.title %></td>
        <td><%= wh.address %></td>
        <td>
          <%= link_to 'View', warehouses_path, method: :get, class: 'btn' %>                <!-- wh.id-->
          <%= link_to 'Edit', warehouses_path, method: :get, class: 'btn btn-primary' %>    <!-- wh.id-->
        </td>
      </tr>

<!--      <div class="d-flex flex-row">-->
<!--        <p><#%= wh.title %></p>-->
<!--        <p><#%= wh.number %></p>-->
<!--        <p><#%= wh.address %></p>-->
        <%#= link_to 'View', warehouses_path, method: :get, class: 'btn' %>
        <%#= link_to 'Edit', warehouses_path, method: :get, class: 'btn btn-primary' %>
<!--      </div>-->

    <% end %>

    </tbody>
  </table>
<% end %>