<div data-controller="OrderNew">
  <div class="orders-header">Create new order</div>

  <% if @storeWarehouses.empty? %>
    <p>No warehouses at list</p>
  <% else %>
    <%= simple_form_for :store_orders do |f| %>

      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@order.errors.count, "error") %> prohibited
            this part from being saved:
          </h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <%= f.select :warehouse, collection: @storeWarehouses %>
      <%= f.input :product, collection: @warehouseProducts, class: 'col-5' %>
      <%= f.input :count, class: 'col-5' %>

      <%= f.button :submit, 'Make order', url: store_orders_path, method: :post, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', stores_path, method: :get, class: 'btn btn-secondary' %>
    <% end %>
  <% end %>
</div>