<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseControllServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand">Warehouses Controll</a>
        <% if user_signed_in? %>
          <div>
            <p><% current_user.email %></p>
            <a><% link_to  %></a>
          </div>

        <% else %>
        <% end %>
        <a class="btn btn-primary" href="#">Sign In</a>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
