<div>Warehouse list</div>

<% if @warehouses.empty? %>
  <p>Список складов пуст</p>
<% else %>

  <table class="table col-7">
    <thead>
    <tr>
      <th scope="col-4">Title</th>
      <th scope="col-4">Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @warehouses.each do |wh| %>

      <tr>
        <th scope="row"><%= wh.title %></th>
        <td>
          <%= link_to 'Info', warehouse_path(wh.id), method: :get, class: 'btn btn-secondary' %>
          <%= link_to 'Products', warehouse_products_path(wh.id), method: :get, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_warehouse_path(wh.id), method: :get, class: 'btn btn-warning' %>
          <%= link_to 'Delete', warehouse_path(wh.id), method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>

    <% end %>

    </tbody>
  </table>

<% end %>

<%= link_to 'Create Warehouse', new_warehouse_path, method: :get, class: 'btn btn-primary' %>
