<div>
  Warehouse
  <%= @warehouse.title %>
</div>

<div class="d-flex flex-row">
  <p class="mr-4 my-auto"><%= @warehouse.id %></p>
  <p class="mr-4 my-auto"><%= @warehouse.title %></p>
  <p class="mr-4 my-auto"><%= @warehouse.number %></p>
  <p class="mr-4 my-auto"><%= @warehouse.address %></p>
  <%= link_to 'Edit', edit_warehouse_path(@warehouse.id), method: :get, class: 'btn btn-warning mr-1' %>
  <%= link_to 'Delete', warehouse_path(@warehouse.id), method: :delete, class: 'btn btn-danger' %>
</div>
<br>
<div>Products list</div>

<% if @warehouse.products.empty? %>
  <p>На складе отсутствуют товары</p>
<% else %>

  <table class="table col-6">
    <thead>
    <tr>
      <th scope="col-4">#</th>
      <th scope="col">Product</th>
      <th scope="col">Count</th>
    </tr>
    </thead>
    <tbody>

    <% @warehouse.products.each do |whpd| %>

      <tr>
        <th scope="row"><%= whpd.id %></th>
        <td><%= whpd.title %></td>
        <td><%= whpd.count %></td>
      </tr>

    <% end %>
    </tbody>
  </table>

<% end %>