<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

  </head>

  <body>

    <!--Navigation bar-->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand">Warehouses Controll</a>

        <div class="navbar">
          <ul class="navbar-nav d-inline-flex flex-row">

            <li class="nav-item active">
              <!-- refactor link -->
              <%= link_to 'Home', 'home_path', class: "nav-link"%>
            </li>
            <li class="nav-item active">
              <!-- refactor link -->
              <%= link_to 'Warehouses', 'warehouse_path', class: "nav-link"%>
            </li>
            <li class="nav-item active">
              <!-- refactor link -->
              <%= link_to 'Stores', 'stores_path', class: "nav-link"%>
            </li>

          </ul>
        </div>

        <% if user_signed_in? %>
          <div>
            <%= current_user.first_name %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
          </div>
        <% else %>
          <div>
            <%= link_to 'Register', new_user_registration_path, method: :get, class: 'btn'%>
            <%= link_to 'Login', new_user_session_path, method: :get, class: 'btn btn-primary'%>
          </div>
        <% end %>

      </div>
    </nav>

    <!--Main content-->
    <div class="container">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

    </div>

  </body>
</html>
