<!DOCTYPE html>

<html lang="ru">
  <%= render(partial: 'layouts/partials/head') %>
  <body>
    <!--Navigation bar-->
    <%= render(partial: 'layouts/partials/navigation') %>

    <!--Main content-->
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

  </body>
</html>
