<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>

<!DOCTYPE html>
<html lang="ru">
  <head>
<!--    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/reactstrap/4.8.0/reactstrap.min.js" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <%= render(partial: 'layouts/partials/head') %>
  <body>
    <!--Navigation bar-->
    <%= render(partial: 'layouts/partials/navigation') %>

    <!--Main content-->
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

  </body>
</html>
